* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.parent {
  /* min-height: 100vh; */
  width: 100%;
  background-color: black;
  padding: 15px;
  display: flex;
  gap: 20px ;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  border-radius: 30px;
  height: 350px;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

/* TOP */
.card .top {
  display: flex;
  /* gap: 20px; */
  align-items: center;
  justify-content: space-between;
  /* flex-direction: row; */
}

.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  object-fit: cover;
}

/* BUTTONS */
.save-btn {
  border: none;
  background: #f5f5f5;
  padding: 8px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.apply-btn {
  border: none;
  background: black;
  color: white;
  padding: 10px 14px;
  border-radius: 20px;
  cursor: pointer;
}

/* CENTER */
.center h3 {
  font-size: 14px;
  margin-bottom: 6px;

}

.btn1{
  margin-top: 10px;
  margin-right: 12px;
  border: gray 1px ;
  border-radius: 3px;
  margin-top: 1px 1px, 1px 1px;
  padding: 4px;
  justify-content: space-between;
  cursor: pointer;
  
}

.center span {
  color: gray;
  font-size: 12px;
  margin-left: 6px;
}

.center h2 {
  font-size: 18px;
}

/* BOTTOM */
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto ;
}


.bottom p {
  font-size: 13px;
  color: gray;
}


.btn2{
  margin: 15px;
  border: gray 1px;
  border-radius: 3px;
  margin: 1px 1px 1px 1px;
  padding: 4px;
  /* border:2px solid gray; */

}
