*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
.parent{
  height: 100vh;
  width: 100%;
  background-color: black;
  padding: 30px;
}
.card{
  border-radius: 30px;
  height: 400px;
  width: 300px;
  background-color: #fff;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top img{
 height: 30px;
 width: 30px;
 padding: 2px;
 border-radius: 50%;
 border: 1px solid#dadada;
 padding: 2px;
}
/* .top button{

} */